@page "/client"
@page "/client/{ClientId:int}"

@if (clientDetails == null)
{
    <p>Loading...</p>
}
else
{
    @if (ClientId.HasValue)
    {
        <h6>Editing '@clientDetails.Name'</h6>
    }
    else
    {
        <h6>New client</h6>
    }

    <hr />

    <EditForm Model="clientDetails" OnValidSubmit="Save">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="Name" class="control-label">Name</label>
                    <InputText name="Name" class="form-control" @bind-Value="clientDetails.Name" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="Country" class="control-label">Country</label>
                    <InputSelect name="Country" class="form-control" @bind-Value="clientDetails.Country">
                        <option value="">Select</option>
                        @foreach (var country in CountryOptions)
                        {
                            <option value="@country">@country</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="Email" class="control-label">Email</label>
                    <InputText type="email" name="Email" class="form-control" @bind-Value="clientDetails.Email" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Save" />
            </div>
        </div>
    </EditForm>
}