@page "/client"
@page "/client/{ClientId:int}"

<div class="content" style="min-width: 800px">
    @if (model == null) {
        <p>Loading...</p>
    } else {
        @if (ClientId.HasValue) {
            <h6>Editing '@model.Name'</h6>
        } else {
            <h6>New client</h6>
        }

        <hr />

        <EditForm Model="model" OnValidSubmit="Save">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="Test" class="control-label">Test</label>
                <Syncfusion.Blazor.Inputs.SfNumericTextBox TValue="double?" Value=10></Syncfusion.Blazor.Inputs.SfNumericTextBox>
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <InputText name="Name" class="form-control" @bind-Value="model.Name" />
            </div>
            <div class="form-group">
                <label for="Country" class="control-label">Country</label>
                <InputSelect name="Country" class="form-control" @bind-Value="model.Country">
                    <option value="">Select</option>
                    @foreach (var country in CountryOptions) {
                        <option value="@country">@country</option>
                        }
                </InputSelect>
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <InputText type="email" name="Email" class="form-control" @bind-Value="model.Email" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Save" />
            </div>
        </EditForm>
    }
</div>