@page "/dashboard"

<div class="content">
    @if (isLoaded) {
        <div class="row">
            <div class="col-md-6">
                <PizzaChartComponent DataSource="ordersByCountryDataSource"></PizzaChartComponent>
            </div>
            <div class="col-md-6">
                <BarChartComponent DataSource="mostOrderedProductsDataSource"></BarChartComponent>
            </div>
        </div>
    } else {
        <p>Loading...</p>
    }
</div>
