@page "/clients"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
<h3>Clients</h3>

<div class="content">
    @if (model == null) {
        <p>Loading...</p>
    } else {
        <div class="row">
            <div class="col">
                <SfButton OnClick="() => ShowForm(null)">
                    <span class="oi oi-plus" aria-hidden="true"></span>
                    Add new
                </SfButton>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <SfGrid DataSource="@model.Items" TValue="ClientListDto" AllowPaging="true" @ref="grid">
                    <GridEvents CommandClicked="OnGridCommand" TValue="ClientListDto"></GridEvents>
                    <GridPageSettings PageSize="5"></GridPageSettings>
                    <GridColumns>
                        <GridColumn Field=@nameof(ClientListDto.Id) HeaderText="Id"></GridColumn>
                        <GridColumn Field=@nameof(ClientListDto.Name) HeaderText="Name"></GridColumn>
                        <GridColumn Field=@nameof(ClientListDto.Country) HeaderText="Country"></GridColumn>
                        <GridColumn Field=@nameof(ClientListDto.Created) HeaderText="Created" Format="d" Type="ColumnType.Date"></GridColumn>
                        <GridColumn Field=@nameof(ClientListDto.LastModified) HeaderText="Last Modified" Type="ColumnType.Date" Format="d"></GridColumn>
                        <GridColumn HeaderText="" Width="150">
                            <GridCommandColumns>
                                <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() {IconCss="oi oi-pencil", CssClass="e-flat" })"></GridCommandColumn>
                                <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() {IconCss="oi oi-x", CssClass="e-flat" })"></GridCommandColumn>
                            </GridCommandColumns>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    }
</div>