<div class="col-md-12">
    <div class="form-group">
        <label for="@(Name ?? Label)" class="control-label">@Label</label>
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string Name { get; set; }

    [Parameter] public string Label { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
}